a:link {
	font-family: Verdana, Helvetica;
	font-size: 11px;
	text-decoration: none;
	color: #2666B9;
}

a:active {
	font-family: Verdana, Helvetica;
	font-size: 11px;
	text-decoration: none;
	color: #2666B9;
}

a:visited {
	font-family: Verdana, Helvetica;
	font-size: 11px;
	text-decoration: none;
	color: #2666B9;
}

a:hover {
	font-family: Verdana, Helvetica;
	font-size: 11px;
	text-decoration: none;
	color: #FF5500;
}

a.side {
	font-family: Verdana, Helvetica;
	font-size: 11px;
	text-decoration: none;
	color: #2666B9;
}

a:hover.side {
	font-family: Verdana, Helvetica;
	font-size: 11px;
	text-decoration: none;
	color: #FF5500;
}

body {
	margin: 5px;
}
.tbl-border {
	background-color: #E8ECEE;
}

.tbl {
	font-size: 11px;
	padding: 3px 4px 3px 4px;
}

.tbl1 {
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
}

.tbl2 {
	font-size: 11px;
	color: #000000;
	background-color: #FAFAFA;
	padding: 4px;
}

.textbox {
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 10px;
	color: #000000;
	background-color: #FAFAFA;
	margin: 0px 0px 1px 0px;
	border: 1px #E8ECEE solid;
}
font, td, p {
	font-family: Verdana, Helvetica;
	font-size: 11px;
}
.small2 {
	font-weight: normal;
	font-size: 10px;
	color: #808080;
}
.quote {
	font-family: Verdana, Helvetica;
	font-size: 11px;
	color: #000000;
	background-color: #FAFAFA;
	margin: 0px 20px 0px 20px;
	padding: 3px;
	border: 1px #E8ECEE solid;
}